<html dir="ltr" lang="en" class="focus-outline-visible" lazy-loaded="true">
  <head>
    <link rel="stylesheet" href="playerCardStyle.css">
  </head>
  <body>
    <div class="playerCard">
        <div class="w1">
            <h3>Nome</h3>
        </div>

        <div class="w2">
            <h3>Nome</h3>
        </div>

        <div class="p">
            <div class="sw">
                <p>Nome</p>
            </div>
        </div>

        <div class="hp">
        </div>

        <div class="xp">
        </div>
    </div>
</body>
</html>